/* Reset */

.active {
    color: $color-primary !important;
}

.textarea-height {
    height: 1000px !important;
}

.paragraph {
    font-size: 14px;
    letter-spacing: 2px;
    margin: 0 auto;
}

li, a, button {
    font-size: 14px;
    letter-spacing: 2px;
}

.row {
 margin: 0 !important;
}