/* Reset */

.active {
    color: $color-primary !important;
}

.textarea-height {
    height: 1000px !important;
}

.paragraph {
    font-size: 16px;
    letter-spacing: 2px;
    max-width: 850px;
    margin: 0 auto;
}