
.u-container {
    width: 80%;
    margin: 0 auto; 
}

.u-trim{
    
}

.u-center-text {
    text-align: center; 
}
  
.u-center-left {
    text-align: left; 
}
  
.u-margin-big {
    margin-bottom: 5rem; 
}
  
.u-margin-medium {
    margin-bottom: 3rem; 
}
  
.u-margin-small {
    margin-bottom: 1rem; 
}
.u-margin-none {
    margin-bottom: 1rem; 
}
  
.u-align-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.u-padding-10 {
    padding: 10% 5%;
}

.u-pad-right-10{
    padding-right: 5%;
}
.u-pad-left-10{
    padding-left: 5%;
}
  
.u-color-offset {
    background-color: #f1f1f8; 
}
  
.u-color-contact {
    background:linear-gradient( to right, #1eabfd 50%, #f1f1f8 50%)
}
  
.u-flexy-row {
    display: flex;
    flex-direction: row;
    
}


.u-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.u-flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}