.blog-post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    &__thumb {
        width: 350px;
        height: 250px;
        margin-right: 20px;
        border-radius: 5px;
        background-position: center;
        background-size:auto 100%;
        background-repeat: no-repeat;

    }

    &__content {
        width: 90%;
        & a {
            text-decoration: none;
            font-size: 28px !important;
            cursor: pointer;

            &:hover{
                color: $color-primary;
            }
        }
    }
}


.posts {
    & .blog-post:not(:last-child){
        margin-bottom: 20px !important;
    }
}


.post {
    &__title {
        font-size: 40px !important;
    }
    &__content {
        & .paragraph {
            font-size:16px !important;
            &:not(:last-child){
                margin-bottom:20px !important;
            }
        }
    }
}