.section-services {

    &__service {
        width: 30%;
        display: inline-block;
        text-align: center;
        padding: 20px 0;
        font-size: 22px;
        background-color: white;
        text-transform: uppercase;
        border-bottom: 3px solid $color-primary;
        border-right: 3px solid $color-primary;
        transition: all .2s;
        @include box-shadow;

        &:hover {
            transform: translateY(-5px);
        }
    }
}

.services-row {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    &:not(:last-child){
        margin-bottom: 20px;
    }
}