.section-contact-page {
    &__item {
        font-size: 22px;

        &--icon {
            height: 30px;

            &-border {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 5px solid $color-primary;
                border-radius: 50%;
                margin: 0 auto;
                height: 5rem;
                width: 5rem;
                margin-bottom: .5rem;
                transition: all .2s;
                @include box-shadow;

                &:hover {
                    transform: translateY(-5px);
                }
            }
        }
    }
}
