.image-block{
    position: relative;
    display: block;
}
.home{
    &__images{
        &--image-1 {
            height: 25rem;
            width: 25rem;
            border-radius: 50%;
            margin: 0 auto;
            display: block;
            background-image: url("/comp/cleaning1.jpg");
            background-size: cover;
            background-position: center; 
        }
        &--image-2 {
            height: 10rem;
            width: 10rem;
            display: block;
            position: absolute;
            background-image: url("/comp/guarentee.png");
            background-size: cover;
            background-position: center; 
            bottom: -20px;
            right: 34px;
        }
    }
}