.image-block{
    position: relative;
    display: block;
}
.home{
    &__images{
        &--image-1 {
            height: 25rem;
            width: 100%;
            display: block;
            background-image: url("/images/cleaning1.jpeg");
            background-size: cover;
            background-position: center; 
        }
        &--image-2 {
            height: 8rem;
            width: 8rem;
            display: block;
            position: absolute;
            background-image: url("/images/guarentee.png");
            background-size: cover;
            background-position: center; 
            bottom: -20px;
            right: -20px;
        }
    }
}