.tick-list {
    padding: 0 !important;
    list-style: none;

    &--item{
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: .5rem;

        & p {
            margin: 0 !important;
        }
        &::before {
            color: $color-primary;  
            content: '✓';
            font-size: 31px;
            margin-right: 1rem;
        }

    }
}