.tick-list {
    list-style: none;
    font-size: 1.6rem;

    &--item{
        margin-bottom: .5rem;
        &::before {
            color: $color-primary;  
            content: '✓';
            float: left;
            font-size: 2.5rem; 
            margin-right: 1rem;
        }

    }
}