.section-contact {
    padding-right: 50px;
    & ::placeholder {
      color: white;
      opacity: .7;
    }

    & input {
        color: #fff !important;
        background-color: transparent !important;
        border: none !important;
        border-bottom: 1px solid white !important;
        border-radius: 0 !important;
        padding: .6rem 0 !important;
        font-size: 18px;
    }

    & .col-6 {
        padding-left: 0 !important;
    } 

    & .row {
        & .col-6 {
            padding: 0 !important; 

            &:not(:last-child){
                padding-right: 20px !important;
            }
        }
    }

    & form {
        .row {
            &:not(:last-child){
                margin-bottom: 20px !important;
            } 
        }
    }
}


.section-testimonial {
    padding-left: 50px;

    &__testimonial {
        background-color: white;
        border-radius: 3px;
        padding: 2rem 2rem;
        box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);

        &--text {
        margin-bottom: .8rem;
        font-size: 14px;
        }

        &--author {
        color: $color-primary;

        font-size: 19px;
        text-transform: uppercase;
        }
        &--position {
        font-size: 12px;
        }
    }
}

/*
.section-contact {
background-color: $color-primary;
width: 55%;
padding: 6rem 7rem 6rem 0;
}

.contact-form {


[class^='col-'] > input {
margin-bottom: 2rem;
}

&  input:not(:last-child) {
margin-bottom: 2rem;
}
&__label {
color: white;
font-size: 2rem;
}
}

.section-testimonial {
width: 45%;
height: 49.9rem;
padding: 6rem 0 6rem 7rem;

}


.section-map__map {
width:55%;
height: 49.9rem;
border: none;
}

*/