.footer {
    background-color: #282828;

    & p {
        margin-bottom: 0 !important;
    }

    &--text {
        color: white;
        font-size: 18px !important;
        line-height: 1 !important;
        padding: .5rem 0;
    }

    &--link {
        &:link, 
        &:visited {
            font-size: 18px !important;
            display: block;
            padding: .5rem 0;
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            transition: all .2s; 
            line-height: 1 !important;
        }
    
        &:hover {
            transform: translateY(-3px); 
        }
      
    }
}