.solid {
    background-color: #ffffff !important;
}
.solid-b {
    background-color: #282828 !important;

    & a {
        color: white !important;
    }
}

.navbar {
    background-color: transparent;
    transition: all .8s;
    color: #000000;
    letter-spacing: 2px;

    & a {
        color: #282828;
    }
}

.bottom-nav{
    top:39px;
}


.logo {
    height: 70px;
}

.nav-link {
    color: #282828;
    text-transform: uppercase;
    transition: all .2s ;
    text-decoration: none;

    &:hover {
        color: $color-primary !important;
        transform: translateY(-2px);
    }
}

.social-link {
    transition: all .2s;
    font-weight:400;
     
    &:not(:last-child){
        margin-right: 10px;
    }
    &:hover {
        color: $color-primary !important;
        text-decoration: none;
    }
}