.social-header {
    &__contact {
        background-color: #282828;
        color:white;
        padding: .5rem 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    &__link{
        &:link, 
        &:visited {
            font-family: 'Lexend Deca', sans-serif;
            display: inline-block;
            color: #fff;
            text-decoration: none;
            transition: all .2s; }
        &:active {
            color: #1eabfd; 
        }
        &:hover {
            color: #1eabfd;
            transform: translateY(-3px) scale(1.15); 
        }
        &:not(:last-child) {
            padding-right: 1rem;
        }
    }
}

.navigation {
    padding: 1.5rem 0;
    margin-top: 39px;
    text-align: right;
    text-transform: uppercase;
    background-color: white;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);

    & > .container {
        position: relative;
    }
  
    &__logo-circle {
        position: absolute;
        display: inline-block;
        left: 0;
        background-color: #ffffff;
        box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
        border-radius: 80%;
        height: 8rem;
        width: 8rem;
        transition: all .2s;
        z-index: 2;

        &:hover {
            transform: scale(1.1) translateY(0.5rem); 
        }


        &--logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 4rem; }
        }

    &__nav {
        width: 100%;
        float: right;
        display: inline-bock;
        &--link {
            &:link, 
            &:visited {
              display: inline-block;

                font-family: 'Lexend Deca', sans-serif;
              color: #353535;
              text-decoration: none;
              transition: all .2s; 
            }

            &:not(:last-child){
                padding-right: 1rem;
            }
            
            &:active {
                color: #1eabfd !important; 
            }

            &:hover {
                color: #1eabfd;
                transform: translateY(-3px) scale(1.15); 
            }

        }
    }
}

.active {

    color: #1eabfd !important;

}
