


.landing {
    background-image: url("/landing/pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba($color: #ffffff, $alpha: .6);
    background-blend-mode: overlay;
    position: relative; 
    
    &__content{
        height: 90vh;
    }

    &__heading {
        text-transform: capitalize;
        font-size: 52px;
        font-weight: bold;
        letter-spacing: 2px;
    }

    &__sub-heading {
        margin-bottom: 20px;
    }

    &__buttons {
        & .btn {
            &:last-child{
                background-color: $color-accent;
            }
        }
    }
}
