.section-landing {
    background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("/landing/pic1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;


    
    &__text-box {
        width: 60%;
        padding: 8rem 0;
        
        & > .paragraph {
        animation: move-in 1s  4s   backwards;
        width: 50%;
        }
        
        
    }
}
.buttons .btn{
    &:not(:last-child){
        margin-right: 10px;
    }

}
