@mixin circle-image {
    margin: 1rem;
    position: absolute;
    transition: all .2s;
    height: 7rem;
    width: 7rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #1eabfd;
    border: 0.5rem solid #f1f1f8;
    transition: all .2s;

    &:hover {
        background-color: #282828; 
    }
}

@mixin circle-text {
    position: absolute;
    display: inline-block;
    text-transform: uppercase;
}

@mixin box-shadow {
    box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
}